<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LFC\SkuLookUp\Api\ProductSearchRepositoryInterface" type="LFC\SkuLookUp\Model\ProductSearchRepository"/>
    <preference for="LFC\SkuLookUp\Api\Data\ProductSearchInterface" type="LFC\SkuLookUp\Model\ProductSearch"/>
    <preference for="LFC\SkuLookUp\Api\Data\ProductSearchSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
